MONGODB_URI=mongodb+srv://usuario:contrasena@proyecto1.shytvxv.mongodb.net/
GOOGLE_ID=_-_.apps.googleusercontent.com
GOOGLE_SECRET=GOCSPX-_-a_W
GOOGLE_CALLBACK_URL=http://localhost:3000/inicio/google/callback
SECRET_KEY=helloworld
S3_ACCESS_KEY=_
S3_SECRET_KEY=_
S3_REGION=us-east2
S3_BUCKET_NAME=emi-my-uploads